.brands {
    margin-bottom: 50px;

    &__title {
        margin-bottom: 40px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 72px;
        padding: 0 16px;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
    }
}

@media (min-width: 768px) {
    .brands__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 160px;
        overflow: hidden;
        gap: 16px 32px;
        margin-bottom: 24px;
        transition: height 0.4s ease-in-out;

        &--extended {
            height: 336px;
            transition: height 0.4s ease-in-out;
        }
    }
}

@media (min-width: 1120px) {
    .brands__list {
        grid-template-columns: repeat(4, 1fr);

        &--extended {
            height: 248px;
            transition: height 0.4s ease-in-out;
        }
    }
}