.price {
    margin: 50px 0px;

    &__title {
        margin-bottom: 45px;
    }

    &__list {
        margin-bottom: 32px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        position: relative;
        min-height: 200px;
        padding: 16px;
        background: #FFFFFF;
        border-radius: 6px;
    }

    &__item-name {
        margin-bottom: 15px;
    }

    &__item-cost {
        margin-bottom: 15px;
    }

    &__item-link {
        flex: 0 0 110px;

        position: absolute;
        right: 16px;
        bottom: 16px;

        color: $white;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: -0.15px;
        text-transform: uppercase;

        background-color: $accent;

        border-radius: 16px;
        padding: 4px 25px 4px 12px;
        margin-left: auto;

        &:hover {
            background-color: $accentHover;
        }
    }

    &__link-icon {
        transform: translate(15px, 1px);
    }

    &__correction {
        max-width: 420px;
        line-height: 20px;
        letter-spacing: 0.2px;
        margin-bottom: 16px;
    }

    &__commercial {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            color: $accent;
        }
    }

    &__commercial-icon {
        transform: translate(10px, 1px);
    }
}


.price__item.swiper-slide {
    max-width: 260px;
}


@media (min-width: 768px) {
    .price {

        &__list {
            display: flex;
            flex-direction: column;
        }

        &__item {
            flex-direction: row;
            align-items: center;
            min-height: 64px;
            padding: 16px;
            background: #FFFFFF;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #EAEAEA;

            &:first-child {
                border-radius: 6px 6px 0px 0px;
            }

            &:last-child {
                border-radius: 0px 0px 6px 6px;
                border: none;
            }

            &.swiper-slide {
                max-width: unset;
            }
        }

        &__item-name {
            flex: 0 1 50%;
            padding-right: 10px;
            margin: 0;
        }

        &__item-cost {
            flex: 0 1 20%;
            margin: 0;
        }

        &__item-term {
            flex: 0 1 15%;
            margin: 0;
        }

        &__item-link {
            position: relative;
            bottom: 0;
            right: 0;
        }
    }
}